.social {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.social__link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  fill: var(--social-color);
  transition: fill 250ms var(--function), background-color 250ms var(--function);

  &:hover,
  &:focus {
    fill: var(--hero-text-color);
    background-color: var(--accent-color);
  }
}
