.clients__list {
  display: flex;
  gap: 30px;
}
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  fill: var(--social-color);
  justify-content: center;
  align-items: center;
}

.clients__link {
  color: var(--social-color);
  transition: color 250ms var(--function), border-color 250ms var(--function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
